<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Feedback Form</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'script/index.js' %}"></script>
</head>
<body>
    
    <div>

        {% if submit %}
        <div id="response-page">
            <h2>NareshIT || {{date}} || Feedback Of Django</h2>
            <p>{{sname}} thanks for your response</p>
            <a href="/feedback">Submit another reponse</a>
        </div>

        {% else %}
        <h2>Student Feedback Form</h2>

        <form method="post" id="feedback-form">
            {% csrf_token %}

                    <!-- form-title -->
            <div id="form_head">
                <div class="form-head-label">
                    <div class="form-head-title">
                        <label for="{{ form.name.id_for_label }}">{{ form.name.label }}</label>
                    </div><br>
                    <span>{{ form.name }}</span>
        
                    <!-- error Messages -->
                    {% if form.inputname.errors %}
                    <div style="color: red;">* {{ form.inputname.errors }}</div>
                    {% endif %}

                </div><br>

                <div class="form-head-label">
                    <div class="form-head-title">
                        <label for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
                    </div><br>
                    <span>{{ form.email }}</span>

                    <!-- error msg -->
                     {% if form.inputemail.errors %}
                     <div style="color: red;">* {{ form.inputemail.errors }}</div>
                     {% endif %}

                </div><br>

                <div class="form-head-label">
                    <div class="form-head-title">
                        <label for="{{ form.course.id_for_label }}">{{form.course.label }}</label>
                    </div><br>
                    <span>{{ form.course }}</span>

                    <!-- error msg -->
                     {% if form.inputcourse.errors %}
                     <div style="color: red;">{{ form.inputcourse.errors }}</div>
                     {% endif %}

                </div><br>

                <div class="form-head-label">
                    <div class="form-head-title">
                        <label for="{{ form.institute.id_for_label }}">{{ form.institute.label }}</label>
                    </div><br>
                    <span>{{ form.institute }}</span>

                    <!-- error msg -->
                     {% if form.inputinstitute.errors %}
                     <div style="color: red;">{{ form.inputinstitute.errors}}</div>
                     {% endif %}

                </div><br>
            </div>

                    <!-- form-rating -->
            <div class="section-rating">
                <div class="my-label-class">
                    <label for="{{ form.subject_rating.id_for_label }}">{{ form.subject_rating.label }}</label>
                </div>
                <span>{{ form.subject_rating }}</span>
            </div><br>

            <div class="section-rating section-rating2">
                <div class="my-label-class">
                    <label for="{{ form.subject_teacher.id_for_label }}">{{ form.subject_teacher.label }}</label>
                </div>
                <span>{{ form.subject_teacher }}</span>
            </div><br>

            <div class="section-rating section-rating2">
                <div class="my-label-class">
                    <label for="{{ form.teacher_communication.id_for_label }}">{{ form.teacher_communication.label }}</label>
                </div>
                <span>{{ form.teacher_communication }}</span>
            </div><br>

            <div class="section-rating section-rating2">
                <div class="my-label-class">
                    <label for="{{ form.teacher_doubt.id_for_label }}">{{ form.teacher_doubt.label }}</label>
                </div>
                <span>{{ form.teacher_doubt }}</span>
            </div><br>

            <div class="section-rating section-rating2">
                <div class="my-label-class">
                    <label for="{{ form.project_complete.id_for_label }}">{{ form.project_complete.label }}</label>
                </div>
                <span>{{ form.project_complete }}</span>
            </div><br>

            <div class="section-rating section-rating2">
                <div class="my-label-class">
                    <label for="{{ form.message.id_for_label }}">{{ form.message.label }}</label>
                </div>
                <span>{{ form.message }}</span>

                <!-- error message -->
                 {% if form.inputmsg.errors %}
                 <div style="color: red;">* {{form.inputmsg.errors}}</div>
                 {% endif %}
                 
            </div><br>

        
            <button type="submit" id="form-btn">Submit</button>
            <button type="submit" id="clearform" onclick="clearForm()">Clear Form</button>
            
        </form>
        {% endif %}

    </div>

    <!-- <script>
        function clearform() {
            document.getElementById("feedback-form").reset();
        }
    </script> -->

</body>
</html>