* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: yellow;
    color: red;
}
table, tr, td, th{
    border: 1px solid black;
    border-collapse: collapse;
}