body {
    background: lightgoldenrodyellow;
    color: chocolate;
}
h1{
    text-align: center;
}
form{
    border: 1px solid black;
    border-radius: 10px;
    width: 400px;
    margin-left: 27em;
    background-color: white;
    padding: 10px;
}