<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Information</title>
    <style>
        h1{
            text-align: center;
            background-color: rgb(216, 164, 101);
        }
        h3 {
            color: rgb(12, 76, 78);
        }
        div {
            background-color: rgb(198, 235, 162);
            padding: 5px;
        }
    </style>
</head>
<body>
    
    <h1>Display student Information</h1>
    <h3>Now Server date & time is: {{date}}</h3>
    <div>
        <ol>
            <li>Student Name: {{name}}</li>
            <li>Student Roll: {{roll}}</li>
            <li>Student Marks: {{marks}}</li>
        </ol>
    </div>

</body>
</html>