body {
    background: rgb(224, 238, 252);
}
h2{
    text-align: center;
}
form {
    width: 500px;
    margin-left: 25em;
    padding: 15px;
}
#form_head {
    /* border: 1px solid gray; */
    border-radius: 10px;
    padding: 10px;
    width: 400px;
    background-color: rgb(247, 241, 241);
    box-shadow: 1px 1px 4px black;
}
.form-head-label {
    margin-left: 1em;
    margin-top: 1em;
}
.form-head-title {
    font-family: 'Segoe UI';
    margin-left: 0.3em;
}
.input-bottom-border {
    border: none;
    border-bottom: 1px solid gray;
    padding: 5px;
    outline: none;
    background: transparent;
    margin-bottom: 1em;
    width: 300px;
    font-size: 14px;
}
.section-rating {
    margin-top: 0.7em;
    background-color: rgb(247, 241, 241);
    box-shadow: 1px 1px 4px black;
    padding: 10px;
    border-radius: 10px;
    width: 400px;
}
.section-rating2 {
    margin-top: -0.4em;
}
.my-label-class {
    margin-top: 1em;
    margin-left: 1em;
    font-family: 'Segoe UI';
    font-size: 15px;
}
.radio-style {
    margin-top: 0.7em;
    margin-left: 0.5em;
    font-family: 'Calibri';
}
.text-msg {
    margin-top: 1em;
    margin-left: 1em;
    font-family: "Arial";
    font-size: 15px;
    padding: 5px;
}
#form-btn {
    width: 80px;
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(124, 53, 238);
    border: none;
    font-size: 15px;
    color: white;
}
#form-btn:hover {
    cursor: pointer;
}
#response-page {
    width: 300px;
    background-color: rgb(247, 241, 241);
    box-shadow: 1px 1px 4px black;
    padding: 10px;
    border-radius: 10px;
    margin-left: 30em;
    margin-top: 5em;
}
#clearform {
    border: none;
    color: rgb(124, 53, 238);
    background-color: transparent;
    margin-left: 17em;
    font-size: 15px;
}
#clearform:hover {
    cursor: pointer;
}