<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Movie</title>
    <link rel="stylesheet" href="{% static 'css/add.css' %}">
</head>
<body>
    
    <div id="container">

        {% if submit %}
        <h2>{{mname}} Added into Movie List Successfully....</h2>
        <a href="/main">U Want to Add Another Movie</a>
        <a href="/list">See the movie List</a>

        {% else %}
        <h1>Add Movie Into Movie List</h1>
        <form method="post">
            {{form.as_p}}
            {% csrf_token %}

            <input type="submit" value="Add Movie">
        </form>
        {% endif %}

    </div>

</body>
</html>