    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>datetime Project</title>
    </head>
    <body>
        
        <h1>Hii user!! welcome to our new world</h1>
        <h3>Now Server time is: {{date}}</h3><br/>
        <hr/>
        <p>Here Student Information</p>
        <ul>
            <li>{{name}}</li>
            <li>{{rollno}}</li>
            <li>{{marks}}</li>
        </ul>

    </body>
    </html>