<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Context Template</title>
</head>
<body>
    
    <div style="margin-top: 1em; margin-right: 1em;">

        <div>
            <h1>Student Information</h1>
            <h2>Now Date and Time is: <span style="color: chocolate;">{{date}}</span></h2>
            <h3>Student Name: {{name}}</h3>
            <h3>Student Subject: {{subject}}</h3>
            <h3>Student Marks: {{marks}}</h3>
        </div>


    </div>
    

</body>
</html>