<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Feedback</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    
    {% if submit %}
    <h1>{{sname}} thank you for your response</h1>
    <h2>We will consider your feedback & working on it</h2>
    <a href="">Insert Another Record</a>
    {% else %}
    <form method="post" align="center">
        {{form.as_p}}
        {% csrf_token %}
        <input type="submit" value="submit">
    </form>
    {% endif %}

</body>
</html>