<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feedback Form</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    
    {% if submit %}
    <h1>Thank you {{sname}} for your valuable feedback, we will consider it and implement in future</h1>

    {% else %}
    <h1>student Feedback Form</h1>
    <form method="post">
        {{form.as_p}}
        {% csrf_token %}
        <input type="submit" value="Submit">
    </form>
    {% endif %}

</body>
</html>