<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student  Details</title>
    <style>
        .additional {
            color: darkcyan;
        }
        table, tr, td, th {
            border: 1px solid black;
            border-collapse: collapse;
            text-align: center;
            margin-left: 10%;
        }
    </style>
</head>
<body>
    
    <h1>Hello Friends, the current server time is: <span class="additional">{{time}}</span></h1>
    <h2>Course Information:</h2>
    <h3>Course Name: <span class="additional">{{cname}}</span></h3>
    <h3>Prerequisite: <span class="additional">{{prerequisite}}</span></h3>
    <ul>
        <li>Good to job very easy</li>
        <li>Learning is also very easy</li>
        <li>You ncan claim easily 3 to 4 years of experience</li>
        <li>It is very helpful for fresher</li>
    </ul>
    <h3>Current batch students are:</h3>
    <table>
        <thead>
            <th>Sno</th>
            <th>Name</th>
            <th>Marks</th>
        </thead>
        <tbody>
            <tr>
                <td>101</td>
                <td>Ajit</td>
                <td>89</td>
            </tr>
            <tr>
                <td>102</td>
                <td>Abhijit</td>
                <td>90</td>
            </tr>
            <tr>
                <td>103</td>
                <td>Jagneswar</td>
                <td>67</td>
            </tr>
            <tr>
                <td>104</td>
                <td>Chandra</td>
                <td>88</td>
            </tr>
        </tbody>
    </table>

</body>
</html>