<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Add</title>
    <link rel="stylesheet" href="{% static 'css/movieAdd.css' %}">
</head>
<body>
    
    {% if submit %}
    <h1>{{mname}} Added Successfully...</h1>
    <a href="/main">Add Another Movie</a>
    
    {% else %}
    <h1>New Movie Add</h1>
    <form method="post" align="center">
        {{form.as_p}}
        {% csrf_token %}
        <input type="submit" value="Movie Add">
    </form>
    {% endif %}

</body>
</html>