<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jobs Information</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css">
</head>
<body style="background-color: lightgreen;">
    
    <div>

        <H1>Welcome to Jobs Information</H1>
        <p>Continious Job Updates For Every Hours...</p>
        <a href="info/" class="btn btn-primary btn-lg">Hyderabad Jobs</a>
        <a href="puneinfo/" class="btn btn-primary btn-lg" id="link2">Pune Jobs</a>
        <a href="banginfo/" class="btn btn-primary btn-lg">Banglore Jobs</a>

    </div>

</body>
</html>