<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wishes App</title>
    <style>

        h1{
            text-align: center;
            background-color: rgb(238, 72, 105);
        }
        h3 {
            color: rgb(75, 94, 43);
        }
        h4 {
            background-color: rgb(246, 187, 77);
        }
        span ol {
            background-color: rgb(207, 247, 147);
        }

    </style>
</head>
<body>
    
    <h1>Student Information</h1>
    <h3>{{msg}}</h3>
    <h4>Now Server date & time is: {{date}}</h4>
    <span>
        <ol>
            <li>Student Name: {{name}}</li>
            <li>Student Rollno: {{rollno}}</li>
            <li>Student Marks: {{marks}}</li>
        </ol>
    </span>

</body>
</html>