<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Multipage App</title>
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
</head>
<body>
    
    <h1>This is our main Page</h1>
    <div>
        <img src="{% static 'images/main1.jpg' %}" alt="">
    </div>
    
    <ul>
        <li id="li1"><a href="/movies">Movies Information</a></li>
        <li><a href="/sports">Sports Information</a></li>
        <li><a href="/politics">Politics Information</a></li>
    </ul>
</body>
</html>