<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Form</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>
    
    <div id="div1">
        <div><h1>Student Form</h1></div>
        <div>
            <form method="post">
                {{list.as_p}}
                {% csrf_token %}
                <input type="submit" name="" value="submit" id="form-submit">
            </form>
        </div>
    </div>

</body>
</html>