<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Astrology Project</title>
    <style>
        h1 {
            text-align: center;
            background-color: burlywood;
        }
        h3 {
            color: indianred;
        }
        p {
            font-weight: bold;
        }
        .additional {
            color: hotpink;
        }
    </style>
</head>
<body>
    
    <h1>Hello Friends, Very {{mag}}</h1>
    <h3>Now Server time is: {{time}}</h3>
    <hr>
    <p>Astrology Info for Ajit <span class="additional">{{msg}}</span></p>
    <p>Very soon, you will get merriage to <span class="additional">{{name}}</span></p>

</body>
</html>